{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<h1>{{ user.pseudo }}</h1>
    <div>Nom: {{ user.name}}</div>
    <div>Prénom: {{ user.firstname}}</div>
    <div>Email: {{ user.email}}</div>
    <div>Téléphone: {{ user.telephone}}</div>

    <a href="{{ path('app_profil_modify') }}" class="bouton-modifier">Modifier</a>
    <a href="{{ path('app_profil_modify_password') }}" class="bouton-modifier">Modifier mot de passe</a>
{% endblock %}
